In [1]:
!jupyter nbextension enable --py --sys-prefix widgetsnbextension
!pip install gmaps
!jupyter nbextension enable --py --sys-prefix gmaps
!pip install pgeocode

Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: OK
Requirement already satisfied: gmaps in /home/umama/anaconda3/lib/python3.7/site-packages (0.9.0)
Requirement already satisfied: ipywidgets>=7.0.0 in /home/umama/anaconda3/lib/python3.7/site-packages (from gmaps) (7.4.2)
Requirement already satisfied: ipython>=5.3.0 in /home/umama/anaconda3/lib/python3.7/site-packages (from gmaps) (7.2.0)
Requirement already satisfied: traitlets>=4.3.0 in /home/umama/anaconda3/lib/python3.7/site-packages (from gmaps) (4.3.2)
Requirement already satisfied: six in /home/umama/anaconda3/lib/python3.7/site-packages (from gmaps) (1.15.0)
Requirement already satisfied: geojson>=2.0.0 in /home/umama/anaconda3/lib/python3.7/site-packages (from gmaps) (2.5.0)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /home/umama/anaconda3/lib/python3.7/site-packages (from ipython>=5.3.0->gmaps) (2.0.7)
Requirement already satisfied: pickleshare in /home/umama/anaconda3/lib/python3.7/site-packages (from ipython>=5.3.0->gmaps) (0.7.5)
Requirement already satisfied: jedi>=0.10 in /home/umama/anaconda3/lib/python3.7/site-packages (from ipython>=5.3.0->gmaps) (0.13.2)
Requirement already satisfied: setuptools>=18.5 in /home/umama/anaconda3/lib/python3.7/site-packages (from ipython>=5.3.0->gmaps) (41.0.1)
Requirement already satisfied: backcall in /home/umama/anaconda3/lib/python3.7/site-packages (from ipython>=5.3.0->gmaps) (0.1.0)
Requirement already satisfied: pexpect in /home/umama/anaconda3/lib/python3.7/site-packages (from ipython>=5.3.0->gmaps) (4.6.0)
Requirement already satisfied: pygments in /home/umama/anaconda3/lib/python3.7/site-packages (from ipython>=5.3.0->gmaps) (2.3.1)
Requirement already satisfied: decorator in /home/umama/anaconda3/lib/python3.7/site-packages (from ipython>=5.3.0->gmaps) (4.3.0)
Requirement already satisfied: widgetsnbextension~=3.4.0 in /home/umama/anaconda3/lib/python3.7/site-packages (from ipywidgets>=7.0.0->gmaps) (3.4.2)
Requirement already satisfied: ipykernel>=4.5.1 in /home/umama/anaconda3/lib/python3.7/site-packages (from ipywidgets>=7.0.0->gmaps) (5.1.0)
Requirement already satisfied: nbformat>=4.2.0 in /home/umama/anaconda3/lib/python3.7/site-packages (from ipywidgets>=7.0.0->gmaps) (4.4.0)
Requirement already satisfied: tornado>=4.2 in /home/umama/anaconda3/lib/python3.7/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (5.1.1)
Requirement already satisfied: jupyter-client in /home/umama/anaconda3/lib/python3.7/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (5.2.4)
Requirement already satisfied: parso>=0.3.0 in /home/umama/anaconda3/lib/python3.7/site-packages (from jedi>=0.10->ipython>=5.3.0->gmaps) (0.3.1)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /home/umama/anaconda3/lib/python3.7/site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (2.6.0)
Requirement already satisfied: ipython-genutils in /home/umama/anaconda3/lib/python3.7/site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (0.2.0)
Requirement already satisfied: jupyter-core in /home/umama/anaconda3/lib/python3.7/site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (4.4.0)
Requirement already satisfied: wcwidth in /home/umama/anaconda3/lib/python3.7/site-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython>=5.3.0->gmaps) (0.1.7)
Requirement already satisfied: notebook>=4.4.1 in /home/umama/anaconda3/lib/python3.7/site-packages (from widgetsnbextension~=3.4.0->ipywidgets>=7.0.0->gmaps) (5.7.4)
Requirement already satisfied: pyzmq>=17 in /home/umama/anaconda3/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.4.0->ipywidgets>=7.0.0->gmaps) (17.1.2)
Requirement already satisfied: nbconvert in /home/umama/anaconda3/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.4.0->ipywidgets>=7.0.0->gmaps) (5.4.0)
Requirement already satisfied: terminado>=0.8.1 in /home/umama/anaconda3/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.4.0->ipywidgets>=7.0.0->gmaps) (0.8.1)
Requirement already satisfied: prometheus-client in /home/umama/anaconda3/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.4.0->ipywidgets>=7.0.0->gmaps) (0.5.0)
Requirement already satisfied: jinja2 in /home/umama/anaconda3/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.4.0->ipywidgets>=7.0.0->gmaps) (2.11.2)
Requirement already satisfied: Send2Trash in /home/umama/anaconda3/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.4.0->ipywidgets>=7.0.0->gmaps) (1.5.0)
Requirement already satisfied: python-dateutil>=2.1 in /home/umama/anaconda3/lib/python3.7/site-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (2.7.5)
Requirement already satisfied: MarkupSafe>=0.23 in /home/umama/anaconda3/lib/python3.7/site-packages (from jinja2->notebook>=4.4.1->widgetsnbextension~=3.4.0->ipywidgets>=7.0.0->gmaps) (1.1.0)
Requirement already satisfied: mistune>=0.8.1 in /home/umama/anaconda3/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.4.0->ipywidgets>=7.0.0->gmaps) (0.8.4)
Requirement already satisfied: entrypoints>=0.2.2 in /home/umama/anaconda3/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.4.0->ipywidgets>=7.0.0->gmaps) (0.2.3)
Requirement already satisfied: bleach in /home/umama/anaconda3/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.4.0->ipywidgets>=7.0.0->gmaps) (3.0.2)
Requirement already satisfied: pandocfilters>=1.4.1 in /home/umama/anaconda3/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.4.0->ipywidgets>=7.0.0->gmaps) (1.4.2)
Requirement already satisfied: testpath in /home/umama/anaconda3/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.4.0->ipywidgets>=7.0.0->gmaps) (0.4.2)
Requirement already satisfied: defusedxml in /home/umama/anaconda3/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.4.0->ipywidgets>=7.0.0->gmaps) (0.5.0)
Requirement already satisfied: webencodings in /home/umama/anaconda3/lib/python3.7/site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.4.0->ipywidgets>=7.0.0->gmaps) (0.5.1)
Requirement already satisfied: ptyprocess>=0.5 in /home/umama/anaconda3/lib/python3.7/site-packages (from pexpect->ipython>=5.3.0->gmaps) (0.6.0)
WARNING: You are using pip version 21.0; however, version 21.2.2 is available.
You should consider upgrading via the '/home/umama/anaconda3/bin/python -m pip install --upgrade pip' command.
Enabling notebook extension jupyter-gmaps/extension...
      - Validating: OK
Requirement already satisfied: pgeocode in /home/umama/anaconda3/lib/python3.7/site-packages (0.3.0)
Requirement already satisfied: pandas in /home/umama/anaconda3/lib/python3.7/site-packages (from pgeocode) (0.25.0)
Requirement already satisfied: numpy in /home/umama/anaconda3/lib/python3.7/site-packages (from pgeocode) (1.19.5)
Requirement already satisfied: requests in /home/umama/anaconda3/lib/python3.7/site-packages (from pgeocode) (2.22.0)
Requirement already satisfied: python-dateutil>=2.6.1 in /home/umama/anaconda3/lib/python3.7/site-packages (from pandas->pgeocode) (2.7.5)
Requirement already satisfied: pytz>=2017.2 in /home/umama/anaconda3/lib/python3.7/site-packages (from pandas->pgeocode) (2018.7)
Requirement already satisfied: six>=1.5 in /home/umama/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas->pgeocode) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /home/umama/anaconda3/lib/python3.7/site-packages (from requests->pgeocode) (1.24.2)
Requirement already satisfied: certifi>=2017.4.17 in /home/umama/anaconda3/lib/python3.7/site-packages (from requests->pgeocode) (2020.12.5)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /home/umama/anaconda3/lib/python3.7/site-packages (from requests->pgeocode) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /home/umama/anaconda3/lib/python3.7/site-packages (from requests->pgeocode) (2.8)
WARNING: You are using pip version 21.0; however, version 21.2.2 is available.
You should consider upgrading via the '/home/umama/anaconda3/bin/python -m pip install --upgrade pip' command.

In [34]:
# jupyter nbextension enable --py gmaps
# jupyter nbextension enable --py widgetsnbextension
!jupyter nbextension enable --py --sys-prefix widgetsnbextension
!jupyter nbextension enable --py --sys-prefix gmaps

Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: OK
Enabling notebook extension jupyter-gmaps/extension...
      - Validating: OK

In [5]:
!pip install us

Collecting us
  Downloading us-2.0.2.tar.gz (14 kB)
Collecting jellyfish==0.6.1
  Downloading jellyfish-0.6.1.tar.gz (132 kB)
     |████████████████████████████████| 132 kB 203 kB/s
Building wheels for collected packages: us, jellyfish
  Building wheel for us (setup.py) ... done
  Created wheel for us: filename=us-2.0.2-py3-none-any.whl size=11929 sha256=de66981346c153d41cff1496378bc4becdd1404280e0241faf970a633b430ab3
  Stored in directory: /home/umama/.cache/pip/wheels/ca/6b/11/cda9ea2438f721330a35c9a2c8e34b4aedcd34c89af48a4d00
  Building wheel for jellyfish (setup.py) ... done
  Created wheel for jellyfish: filename=jellyfish-0.6.1-cp37-cp37m-linux_x86_64.whl size=24152 sha256=fec89d08c1a26cb411090c8c8e65f5e47d2d39ef1ccde76781b866d5f78cd593
  Stored in directory: /home/umama/.cache/pip/wheels/a1/99/51/7de469e37cd1b3c763c24394e1ebf1baa2d79e094bf346cf80
Successfully built us jellyfish
Installing collected packages: jellyfish, us
  Attempting uninstall: jellyfish
    Found existing installation: jellyfish 0.8.2
    Uninstalling jellyfish-0.8.2:
      Successfully uninstalled jellyfish-0.8.2
Successfully installed jellyfish-0.6.1 us-2.0.2
WARNING: You are using pip version 21.0; however, version 21.2.2 is available.
You should consider upgrading via the '/home/umama/anaconda3/bin/python -m pip install --upgrade pip' command.

In [2]:
%matplotlib notebook

In [7]:
#from config import gkey
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import timedelta
import gmaps
# Configure gmaps
gmaps.configure(api_key="AIzaSyBWakW8_j5eGSM6ySec9-1VoUj9x8qM4mc")
from us import states

In [10]:
df=pd.read_excel("orders.xlsx")
df=df.set_index(['order_id'])
df.head()

,customer_id,merchant_id,order_amount,checkout_started_at,credit_decision_started_at,approved_for_installments,customer_credit_score,customer_age,customer_billing_zip,customer_shipping_zip,paid_installment_1,paid_installment_2,paid_installment_3,paid_installment_4
order_id,,,,,,,,,,,,,,
42C39B,9D74A0,6881F9,147.20,2018-10-03 14:26:18.497,2018-10-03 14:26:18.997,True,626,26,95407,95407,1.0,1,1.0,1.0
A19AC4,2629AB,C37828,69.95,2018-09-21 16:55:03.443,2018-09-21 16:55:05.100,True,603,20,85007,85007,1.0,1,1.0,1.0
381AFF,793FE0,252600000000,45.00,2018-09-15 13:41:46.103,2018-09-15 13:41:47.197,True,648,41,30305-2646,30305-2646,1.0,1,1.0,1.0
3184A3,22C696,24FBAF,164.00,2018-10-10 00:59:25.793,2018-10-10 00:59:26.123,True,625,33,28562,28562,1.0,1,1.0,1.0
237711,D4E94A,6F498E,69.17,2018-09-12 22:53:08.970,2018-09-12 22:53:10.923,True,438,18,92324,92324,1.0,1,1.0,1.0

In [13]:
df["customer_billing_zip"]=df["customer_billing_zip"].apply(lambda x:x.split("-")[0] if "-" in str(x) else x)
df.head()

,customer_id,merchant_id,order_amount,checkout_started_at,credit_decision_started_at,approved_for_installments,customer_credit_score,customer_age,customer_billing_zip,customer_shipping_zip,paid_installment_1,paid_installment_2,paid_installment_3,paid_installment_4
order_id,,,,,,,,,,,,,,
42C39B,9D74A0,6881F9,147.20,2018-10-03 14:26:18.497,2018-10-03 14:26:18.997,True,626,26,95407,95407,1.0,1,1.0,1.0
A19AC4,2629AB,C37828,69.95,2018-09-21 16:55:03.443,2018-09-21 16:55:05.100,True,603,20,85007,85007,1.0,1,1.0,1.0
381AFF,793FE0,252600000000,45.00,2018-09-15 13:41:46.103,2018-09-15 13:41:47.197,True,648,41,30305,30305-2646,1.0,1,1.0,1.0
3184A3,22C696,24FBAF,164.00,2018-10-10 00:59:25.793,2018-10-10 00:59:26.123,True,625,33,28562,28562,1.0,1,1.0,1.0
237711,D4E94A,6F498E,69.17,2018-09-12 22:53:08.970,2018-09-12 22:53:10.923,True,438,18,92324,92324,1.0,1,1.0,1.0

In [14]:
pivot_order_zipcode = pd.pivot_table(df,values='order_amount', index=['customer_billing_zip'] ,aggfunc=np.sum).reset_index()

top_Sales_zipcode =pivot_order_zipcode.sort_values(by ='order_amount',ascending = False).head(1000)
top_Sales_zipcode

     customer_billing_zip  order_amount
457                 10011       4677.21
592                 11221       4346.67
2711                54476       3497.68
461                 10016       3216.15
4260                90064       2970.40
...                   ...           ...
3646                77583        393.91
5022                97214        393.90
4924                95648        393.42
90                   2169        392.39
2414                46142        391.80

[1000 rows x 2 columns]

In [16]:
#Getting the latitude and longitude from the top zipcodes
import pgeocode
lats=[]
lons =[]
nomi = pgeocode.Nominatim('us')
for zips in top_Sales_zipcode['customer_billing_zip']:
    lat = nomi.query_postal_code(zips).latitude
    lon = nomi.query_postal_code(zips).longitude
    lats.append(lat)
    lons.append(lon)
    
lats    
top_Sales_zipcode['lats']= lats
top_Sales_zipcode['lons']= lons
top_Sales_zipcode = top_Sales_zipcode[top_Sales_zipcode['lats'].notnull()]
top_Sales_zipcode

     customer_billing_zip  order_amount     lats      lons
457                 10011       4677.21  40.7402  -73.9996
592                 11221       4346.67  40.6907  -73.9274
2711                54476       3497.68  44.9064  -89.5818
461                 10016       3216.15  40.7443  -73.9781
4260                90064       2970.40  34.0353 -118.4259
...                   ...           ...      ...       ...
4984                96768        393.96  20.8469 -156.3327
3646                77583        393.91  29.4203  -95.4537
5022                97214        393.90  45.5142 -122.6364
4924                95648        393.42  38.8942 -121.2908
2414                46142        391.80  39.6224  -86.1490

[929 rows x 4 columns]

In [41]:
# Storing 'Lat' and 'Lng' into  locations 
locations = top_Sales_zipcode [['lats', 'lons']].astype(float)
locations

         lats      lons
457   40.7402  -73.9996
592   40.6907  -73.9274
2711  44.9064  -89.5818
461   40.7443  -73.9781
4260  34.0353 -118.4259
...       ...       ...
4984  20.8469 -156.3327
3646  29.4203  -95.4537
5022  45.5142 -122.6364
4924  38.8942 -121.2908
2414  39.6224  -86.1490

[929 rows x 2 columns]

In [42]:
# Converting total sales to float and store
total_sales = top_Sales_zipcode ['order_amount'].astype(float)
total_sales

457     4677.21
592     4346.67
2711    3497.68
461     3216.15
4260    2970.40
         ...
4984     393.96
3646     393.91
5022     393.90
4924     393.42
2414     391.80
Name: order_amount, Length: 929, dtype: float64

In [43]:
# Customizing the size of the figure
figure_layout = {
    'width': '400px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)

In [44]:
# Assigning the marker layer to a variable
markers = gmaps.marker_layer(locations)
# Adding the layer to the map
fig.add_layer(markers)

In [47]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=total_sales,dissipating=True,
                                )
                                 

fig.add_layer(heat_layer)

fig
#plt.savefig(os.path.join("word_cloud_for_Samples.jpg"), dpi=1000, format='jpg', bbox_inches='tight')

Figure(layout=FigureLayout(height='420px'))

In [46]:
#configuring the google map with zipcode marker and their total sales details
fig = gmaps.figure()

sales_layer = gmaps.symbol_layer(locations,fill_color='rgba(0, 150, 0, 0.4)',
    stroke_color='rgba(0, 0, 150, 0.4)', scale=2,
    info_box_content=[f"Total Sales amount: ${sale}" for sale in total_sales]
)


fig = gmaps.figure()
fig.add_layer(sales_layer)

fig

Figure(layout=FigureLayout(height='420px'))